<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="defaultCS" connectionString="mongodb+srv://user:123456abc@mongowebapp-qn3l2.mongodb.net/test?retryWrites=true"/>
  </connectionStrings>
</configuration>